<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

 
  <bean name="u" class="com.dingxiang.dao.impl.UserDAOImpl" >
  </bean>
	<!-- scope="singleton"  -->
  <bean id="userService" class="com.dingxiang.service.UserService" scope="prototype">
   <constructor-arg>
   		<ref bean="u"></ref>
   </constructor-arg>
  </bean> 
</beans>